.sign-in-card {
    width: 500px;
    height: 500px;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 25px;
    //color: var(--mat-app-text-color);
}

.full-width {
    width: 100%;
}

#remember-forgot {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    //color: var(--mat-app-text-color);
}

#remember-forgot #flex-spacer {
    flex-grow: 1;
}

#d-block {
    margin-top: 10px;
    display: block;
    text-align: center;
    //color: var(--mat-app-text-color);
}

#sign-in-button {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

#social-login {
    display: block;
    text-align: center;
    //color: var(--mat-app-text-color);
}

.social-login-button {
    margin-right: 5px;
}

a:link {
    color: red;
}

a:visited {
    color: red;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}

a:focus {
    color: red;
}