<mat-toolbar>
  <span routerLink="">Giá vàng Việt Nam</span>
  <span class="example-spacer"></span>
  <button mat-button aria-label="Thông tin CSDL">
    Thông tin CSDL
  </button>
  <button mat-button [color]="rla1.isActive ? 'primary' : ''" aria-label="Xem giá vàng Bảo tín minh châu" routerLink="bao-tin-minh-chau" routerLinkActive #rla1="routerLinkActive">
    Bảo tín minh châu
  </button>
  <button mat-button [color]="rla2.isActive ? 'primary' : ''" aria-label="Xem giá vàng Sjc" routerLink="sjc" routerLinkActive #rla2="routerLinkActive">
    Sjc
  </button>
</mat-toolbar>

<router-outlet />
