.sign-up-card {
    width: 500px;
    height: fit-content;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 25px;
}

.full-width {
    width: 100%;
}

#sign-up-button {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

#name-fields {
    display: flex;
}

#name-spacer {
    flex-grow: 1;
}

#name-fields .name {
    width: 200px;
}

a:link {
    color: red;
}

a:visited {
    color: red;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}

a:focus {
    color: red;
}