<div>
    <h2>Bảo tín minh châu</h2>
    <mat-button-toggle-group #drawingPeriodToggleBtn="matButtonToggleGroup" (change)="changeInDrawingPeriod(drawingPeriodToggleBtn.value)" name="drawingPeriod" aria-label="Drawing Period">
        <mat-button-toggle value="today">Hôm nay</mat-button-toggle>
        <mat-button-toggle value="week">Tuần</mat-button-toggle>
        <mat-button-toggle value="month">Tháng</mat-button-toggle>
        <mat-button-toggle value="year">Năm</mat-button-toggle>
        <mat-button-toggle value="custom">Khác</mat-button-toggle>
    </mat-button-toggle-group>
</div>
<!--
<div class="button-row">
    <button mat-raised-button color="primary" (click)="randomize()">
      Ngày hôm nay
    </button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="pushOne()">
      Tuần
    </button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="changeColor()">
      Tháng
    </button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="hideOne()">
      Năm
    </button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="changeLabel()">
      Tự chọn
    </button>
</div>
-->
<canvas
  baseChart
  class="chart"
  [data]="lineChartData"
  [options]="lineChartOptions"
  [type]="lineChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"
></canvas>
<!--
<table>
  <tr>
    <th *ngFor="let label of lineChartData.labels">{{ label }}</th>
  </tr>
  <tr
    *ngFor="let d of lineChartData.datasets; let i = index"
    [class]="'line-' + i"
  >
    <td *ngFor="let label of lineChartData.labels; let j = index">
      {{ d && d.data[j] }}
    </td>
  </tr>
</table>
-->