<h2>Bảo tín minh châu</h2>
<!--
<div>
    <mat-button-toggle-group #drawingPeriodToggleBtn="matButtonToggleGroup" (change)="changeInDrawingPeriod(drawingPeriodToggleBtn.value)" name="drawingPeriod" aria-label="Drawing Period">
        <mat-button-toggle value="day">Ngày</mat-button-toggle>
        <mat-button-toggle value="week">Tuần</mat-button-toggle>
        <mat-button-toggle value="month">Tháng</mat-button-toggle>
        <mat-button-toggle value="year">Năm</mat-button-toggle>
        <mat-button-toggle value="custom">Khác</mat-button-toggle>
    </mat-button-toggle-group>
</div>
-->
<div class="button-row">
    <button mat-raised-button color="primary" (click)="openDayDialog()">
      Ngày
    </button>
    <button mat-raised-button color="primary" (click)="openDayDialog()">
      Tuần
    </button>
    <button mat-raised-button color="primary" (click)="openDayDialog()">
      Tháng
    </button>
    <button mat-raised-button color="primary" (click)="openDayDialog()">
      Năm
    </button>
    <button mat-raised-button color="primary" (click)="openDayDialog()">
      Khác
    </button>
</div>

<canvas
  baseChart
  class="chart"
  [data]="lineChartData"
  [options]="lineChartOptions"
  [type]="lineChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"
></canvas>
<!--
<table>
  <tr>
    <th *ngFor="let label of lineChartData.labels">{{ label }}</th>
  </tr>
  <tr
    *ngFor="let d of lineChartData.datasets; let i = index"
    [class]="'line-' + i"
  >
    <td *ngFor="let label of lineChartData.labels; let j = index">
      {{ d && d.data[j] }}
    </td>
  </tr>
</table>
-->

<ng-template #dayDialogRef>
  <h5 mat-dialog-title>Xem giá vàng theo ngày</h5>
  <mat-dialog-content>
    <form class="day-form">
      <mat-form-field class="day-full-width">
        <mat-label>Tên vàng</mat-label>
        <mat-select #goldName (selectionChange)="onGoldNameChanged(goldName.value)">
          @for (type of goldTypes; track type) {
            <mat-option [value]="type.name">{{type.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="day-full-width">
        <mat-label>Hàm lượng Kara</mat-label>
        <input matInput disabled [value]="goldKara">
      </mat-form-field>
    
      <mat-form-field class="day-full-width">
        <mat-label>Hàm lượng vàng</mat-label>
        <input matInput disabled [value]="goldPurity">
      </mat-form-field>

      <mat-form-field class="day-full-width">
        <mat-label>Ngày xem</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="day">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close='day'>Xem</button>
  </mat-dialog-actions>
</ng-template>