<h2>Bảo tín minh châu</h2>
<!--
<div>
    <mat-button-toggle-group #drawingPeriodToggleBtn="matButtonToggleGroup" (change)="changeInDrawingPeriod(drawingPeriodToggleBtn.value)" name="drawingPeriod" aria-label="Drawing Period">
        <mat-button-toggle value="day">Ngày</mat-button-toggle>
        <mat-button-toggle value="week">Tuần</mat-button-toggle>
        <mat-button-toggle value="month">Tháng</mat-button-toggle>
        <mat-button-toggle value="year">Năm</mat-button-toggle>
        <mat-button-toggle value="custom">Khác</mat-button-toggle>
    </mat-button-toggle-group>
</div>
-->
<div class="button-row">
    <button mat-raised-button color="primary" (click)="openDayDialog()" matTooltip="Biểu đồ sự thay đổi của giá vàng trong 1 ngày bất kỳ">
      Theo ngày
    </button>
    <!--<button mat-raised-button color="primary" (click)="openDayDialog()">
      Tuần
    </button>-->
    <button mat-raised-button color="primary" (click)="openMonthDialog()" matTooltip="Biểu đồ giá vàng lớn nhất, nhỏ nhất của từng ngày trong 1 tháng">
      Theo tháng
    </button>
    <button mat-raised-button color="primary" (click)="openYearDialog()" matTooltip="Biểu đồ giá vàng lớn nhất, nhỏ nhất của từng ngày trong 1 năm">
      Theo năm
    </button>
    <button mat-raised-button color="primary" (click)="openOtherDialog()" matTooltip="Biểu đồ giá vàng trong một khoảng thời gian bất kỳ">
      Theo khoảng thời gian
    </button>
</div>
<h2>{{chartTitle}}</h2>

<canvas
  baseChart
  class="chart"
  [data]="lineChartData"
  [options]="lineChartOptions"
  [type]="lineChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"
></canvas>
<!--
<table>
  <tr>
    <th *ngFor="let label of lineChartData.labels">{{ label }}</th>
  </tr>
  <tr
    *ngFor="let d of lineChartData.datasets; let i = index"
    [class]="'line-' + i"
  >
    <td *ngFor="let label of lineChartData.labels; let j = index">
      {{ d && d.data[j] }}
    </td>
  </tr>
</table>
-->